@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");
body {
  margin: 0;
  font-family: "League Spartan", sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: background-color 0.5s, color 0.5s; /* Adjust the duration as needed */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.theme-slider-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.theme-slider-container > div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.theme-slider {
  width: 50px;
  margin-bottom: 10px;
  -webkit-appearance: none;
  appearance: none;
  background: lightgray;
  outline: none;
  height: 15px;
  border-radius: 15px;
  transition: background 0.3s;
  cursor: pointer;
  padding: 0 2px;
}
.light-theme .theme-slider::-webkit-slider-thumb {
  background: #fd8935;
}
.dark-theme .theme-slider::-webkit-slider-thumb {
  background-color: #d13f30;
}
.third-theme .theme-slider::-webkit-slider-thumb {
  background-color: #04dcd1;
}
.theme-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.3s;
}

.theme-slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #4caf50;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.3s;
}

.theme-slider::-ms-thumb {
  width: 20px;
  height: 20px;
  background: #4caf50;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.3s;
}
.theme-label {
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 4px;
}
.theme-slider-container > div > div:nth-child(2) {
  display: flex;
  align-items: center;
}
.theme-labels {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 54px;
  font-size: 12px;
}

body.light-theme {
  background-color: #e6e6e6;
  color: black;
}

body.dark-theme {
  background-color: #3b4664;
  color: white;
}

body.third-theme {
  background-color: #17062a;
  color: #fde23c;
}

.calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto;
  width: 400px;
}
.dark-theme .display {
  color: #f0f0f0;
  background-color: #181f32;
}
.light-theme .display {
  color: black;
  background-color: #f7f7f7;
}
.third-theme .display {
  color: #fde23c;
  background-color: #1e0836;
}
.display {
  width: 100%;
  height: 85px;
  font-size: 2.5rem;
  font-weight: 600;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  overflow: hidden;
  padding: 5px;
  box-sizing: border-box;
}

.display .error {
  color: red;
  font-size: 20px;
}
.dark-theme .buttons {
  background-color: #252c46;
}
.dark-theme button {
  background-color: #eae3db;
  box-shadow: rgba(185, 172, 161, 0.089) 0px 6px;
}
.light-theme .buttons {
  background-color: #d3cdcd;
}
.light-theme button {
  background-color: #e5e4e0;
  box-shadow: rgba(176, 163, 152, 0.4) 0px 6px;
}
.third-theme .buttons {
  background-color: #1e0836;
}
.third-theme button {
  background-color: #331b4d;
  color: #fde23c;
  box-shadow: rgba(128, 32, 151, 0.4) 0px 6px;
}
.buttons {
  width: 88%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  margin-top: 10px;
  border-radius: 5px;
  padding: 25px;
}

button {
  padding: 10px 5px;
  font-size: 1.25rem;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #ffffff;
}
.third-theme button:hover {
  background-color: #6b34ac;
}
button:active {
  background-color: #ccc;
}

button.equal {
  grid-column: span 2;
}

button.reset {
  grid-column: span 2;
}
.light-theme button.reset,
.light-theme button.del {
  background-color: #388187;
  color: #ddd;
  box-shadow: rgba(29, 101, 107, 0.4) 0px 4px;
}
.light-theme button.reset:hover,
.light-theme button.del:hover {
  background-color: #3ea3a8;
}

.light-theme button.equal {
  background-color: #c75400;
  color: white;
  box-shadow: rgba(145, 86, 43, 0.4) 0px 5px;
}
.light-theme button.equal:hover,
.light-theme .theme-slider::-webkit-slider-thumb:hover {
  background-color: #e97929;
}
.dark-theme button.reset,
.dark-theme button.del {
  background-color: #647299;
  color: white;
  box-shadow: rgba(65, 77, 115, 0.4) 0px 4px;
}
.dark-theme button.equal {
  color: white;
  background-color: #d13f30;
  box-shadow: rgba(153, 39, 25, 0.4) 0px 4px;
}
.dark-theme button.equal:hover,
.dark-theme .theme-slider::-webkit-slider-thumb:hover {
  background-color: #f76c59;
}
.dark-theme button.reset:hover,
.dark-theme button.del:hover {
  background-color: #a2b3e1;
}
.third-theme button.reset,
.third-theme button.del {
  background-color: #650891;
  color: rgb(238, 238, 238);
  box-shadow: rgba(182, 26, 234, 0.4) 0px 4px;
}
.third-theme button.equal {
  background-color: #04dcd1;
  color: black;
  box-shadow: rgba(113, 248, 239, 0.4) 0px 2px;
}
.third-theme button.reset:hover,
.third-theme button.del:hover {
  background-color: #8731b0;
}
.third-theme button.equal:hover,
.third-theme .theme-slider::-webkit-slider-thumb:hover {
  background-color: #65f3ec;
}
@media (max-width: 385px) {
  .display {
    width: 88%;
  }
  .buttons {
    width: 76%;
  }
  .theme-slider-container {
    width: 87%;
  }
  .theme-slider {
    height: 20px;
  }
  button {
    padding: 15px 5px;
    font-size: 1.5rem;
  }
}
